@CHARSET "UTF-8";

body {
    margin: 0px;
}

.body-back {
    position: relative; left : 50%;
    width: 1000px;
    height: 650px;
    margin-top: 8px;
    margin-left: -500px;
    left: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.body-title{
    background-color: #F7E8ED;
    width: 1000px;
    height: 100px;
}
.title-welcome{
    font-size: 40px;
    position: relative;
    top: 21px;
    left: 43px;
}
.lougou{
    position: relative;
    left: 518px;
    top: 17px;
    text-decoration: none;
}
.body-left{
    background-color: #E8F5FF;
    width: 200px;
    height: 530px;
    float: left;
}
.left-choose-super{
	height: 35px;
	background-color: buttonshadow;
	margin-top: 10px;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;

}
.left-choose-super
strong{
	font-size: 20px;
	cursor: pointer;
}
.body-center{
    background-color: #F2FDDB;
    width: 800px;
    height: 530px;
    margin-left: 200px;
}
.body-bottom{
    background-color: #F0F7FF;
    height: 20px;
}